h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: blueviolet;
}

li {
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    background-color: aqua;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    background-color: chartreuse;
}
